In [1]:
import pandas as pd

In [4]:
# Create the employee dataframe
data = {
    'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
    'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
    'Age': [30, 40, 25, 35, 45, 28],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
    'Experience': [3, 7, 2, 5, 10, 4]
}

employee_df = pd.DataFrame(data)
print(employee_df)

    Name Department  Age  Gender  Salary  Experience
0   John         IT   30    Male   50000           3
1   Mary  Marketing   40  Female   60000           7
2    Bob      Sales   25    Male   45000           2
3  Sarah         IT   35  Female   55000           5
4    Tom    Finance   45    Male   70000          10
5   Lisa  Marketing   28  Female   55000           4

In [5]:
# 1. Use the iloc method to select the first 3 rows
first_three_rows = employee_df.iloc[:3]
print("First 3 rows using iloc:\n", first_three_rows)

First 3 rows using iloc:
    Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

In [6]:
# 2. Use the loc method to select all rows where the Department is "Marketing"
marketing_department = employee_df.loc[employee_df['Department'] == 'Marketing']
print("\nRows where Department is 'Marketing' using loc:\n", marketing_department)

Rows where Department is 'Marketing' using loc:
    Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

In [7]:
# 3. Use the iloc method to select the Age and Gender columns for the first 4 rows
age_gender_first_four_rows = employee_df.iloc[:4, [2, 3]]  # Columns 2 (Age) and 3 (Gender)
print("\nAge and Gender for the first 4 rows using iloc:\n", age_gender_first_four_rows)

Age and Gender for the first 4 rows using iloc:
    Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

In [8]:
# 4. Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male"
male_salary_experience = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']]
print("\nSalary and Experience for Male employees using loc:\n", male_salary_experience)

Salary and Experience for Male employees using loc:
    Salary  Experience
0   50000           3
2   45000           2
4   70000          10