In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [11]:
# Send a GET request to the website
url = 'https://aziza.tn/fr/home'
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find all 'li' items with the class name 'product-name'
product_items = soup.find_all('li', class_='product-item')


names = []
prices = []


for product in product_items:
    if not product:
        continue

    # Find the <a> tag
    name = product.find('a', class_="product-item-link")
    if name:
        names.append(name.text.strip())
    price = product.find("span", class_="price")
    if price:
        prices.append(price.text.strip())

In [ ]:
#Convert to pandas dataframe
data = {"product_names":names, "prices":prices}
df = pd.DataFrame(data)

df.head(20)

                                   product_names prices
0                        Tomate double concentré  3,750
1                                    Riz basmati  4,780
2                               Boite de cookies  1,100
3                              Lot 2 pots opaque  1,150
4                             Tasse en plastique  1,900
5   Lot de 3 boites de conservation en plastique  2,240
6                                            Bol  2,790
7                                      Lampe led  2,980
8                 Boite de conservation en verre  2,990
9              Tasse en verre coloré avec paille  2,990
10                            Boite de rangement  2,990
11                Boite de conservation en verre  3,490
12                        Presse agrume manuelle  3,880
13            Boite de conservation en plastique  3,990
14                         Boite de conservation  4,900
15            Boite de conservation en plastique  4,990
16                                Pince à salade  5,000
17                                Pince à salade  5,000
18                            Lot de 3 entonnoir  5,000
19         Trancheuse à oeuf en acier inoxydable  5,000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_names  266 non-null    object
 1   prices         266 non-null    object
dtypes: object(2)
memory usage: 4.3+ KB

### Data Cleaning Steps

- Checking for missing values
- Remove commas from the prices column

In [15]:
df.isnull().sum()

product_names    0
prices           0
dtype: int64

In [ ]:
# Remove commas from the 'prices' column and convert it to integer
df['prices'] = df['prices'].str.replace(',', '')

# Display the first 2 rows of the dataframe to verify changes
df.head(2)

             product_names  prices
0  Tomate double concentré    3750
1              Riz basmati    4780

### Data Transformation

- Convert price data into numerical formats for analysis.

In [28]:
#change datatype of price column from string to int
df['prices'] = df['prices'].astype("int64")

### Data Analysis:


- Identify average pricing within each product category.
- Detect seasonal or promotional pricing patterns.
- Assess product availability trends over time.

There was no categories available in the website scraped, and so therefore this analysis cannot be conducted